@font-face{
    font-family: kantumruy pro;
    src: url(../font/KantumruyPro-VariableFont_wght.ttf);
}

[data-theme="light"] {
    --c-brand: #fdcf28;
    --c-brand-dark: #f5c61c;
    --c-black: #1a1a1a;
    --c-gray: #aaaaaa;
    --c-gray-dark: #7a7a7a;
    --c-white-light: #e9ecef;
    --c-white: #ffffff;
    --overlay-navbar: rgba(0, 0, 0, 0.6);
    --c-body-bg:#ffffff;
}

[data-theme="dark"] {
    --c-brand: #fdcf28;
    --c-brand-dark: #f5c61c;
    --c-black: #ffffff;
    --c-white: #1a1a1a;
    --c-body-bg:#0d0d0d;
}

body {
    font-family: kantumruy pro , sans-serif;
    background-color: var(--c-body-bg);
}
/* set class color  */
.text-brand{
    color: var(--c-brand);
}
.text-brand-dark{
    color: var(--c-brand-dark);
}
.text-black{
    color: var(--c-black);
}
.text-gray{
    color: var(--c-gray);
}
.text-gray-dark{
    color: var(--c-gray-dark);
}
.text-white-light{
    color: var(--c-white-light);
}

/* Navbar  */
[data-theme="light"] {
    --c-header-bg:var(--c-black);
    --c-footer-bg: var(--c-header-bg);
    --c-header-color:#ffffff;
    --c-header-color-brand:var(--c-brand);
    --c-header-icon-color:#fff;
    --c-header-icon-border:1px solid var(--c-header-icon-color);
}

[data-theme="dark"] {
    --c-header-bg:var(--c-white);
    --c-footer-bg: var(--c-header-bg);
    --c-header-color:#ffffff;
    --c-header-color-brand:var(--c-brand);
    --c-header-icon-color:#fff;
    --c-header-icon-border:1px solid var(--c-header-icon-color);
}
.inverted {
    /* background-color: var(--c-black); */
    background-color: var(--c-header-bg);
}

.navbar .navbar-brand img {
    transform: scale(1.5);
}

/* .navbar {
    background-color: transparent;
} */

.navbar .megamenu {
    position: static;
}

.navbar .dropdown .dropdown-menu {
    border: 0 !important;
}

.navbar .megamenu .dropdown-menu {
    background-color: transparent !important;
    padding-inline: 0rem !important;
    padding-block: 1.5rem !important;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    color: var(--c-gray-dark);
    font-size: 20px;
    transition: 0.3s;
    text-wrap: nowrap;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--c-brand) !important;
}

.navbar .dropdown.megamenu .dropdown-menu ul {
    padding: 0;
    list-style-type: none;
}

.navbar .dropdown.megamenu .dropdown-menu ul li .dropdown-item {
    padding-inline: 1.5rem !important;
}

.navbar .dropdown.megamenu .dropdown-menu ul li .dropdown-item:hover {
    background-color: transparent !important;
    color: var(--c-brand) !important;
}

.navbar .dropdown.megamenu .dropdown-menu ul li:first-child h5 {
    color: var(--c-brand) !important;
}

.navbar .dropdown .dropdown-menu .dropdown-item {
    color: var(--c-gray-dark) !important;
    font-size: 20px !important;
    font-weight: 500;
}

.navbar .dropdown:not(.megamenu) .dropdown-menu {
    top: 67px;
    background-color: transparent;
    /* padding: 0.75rem !important; */
}

.navbar .dropdown:not(.megamenu) .dropdown-menu .dropdown-item:hover {
    color: var(--c-brand) !important;
    background-color: transparent !important;
}

.navbar .dropdown .dropdown-toggle::after {
    margin-left: 0 !important;
}

.navbar .btn-icon {
    font-size: 1.6rem;
    color: var(--c-gray-dark) !important;
    border: 0;
}

.navbar .btn-icon:hover {
    color: var(--c-brand) !important;
    border-color: var(--c-brand) !important;
}

.navbar .navbar-toggler.btn-icon {
    border: 0px solid var(--c-white-light);
    color: var(--c-white-light) !important;
    font-size: 1.9rem;
}

.navbar .navbar-toggler.btn-icon:hover {
    box-shadow: 0 !important;
    color: var(--c-brand) !important;
    border: 0px solid var(--c-brand) !important;
}

.navbar .navbar-toggler.btn-icon:focus {
    box-shadow: 0 0 0 transparent;
}

@media (min-width: 1200px) {
    .navbar .megamenu .dropdown-menu {
        width: calc(100%);
        /* background-color: var(--c-black) !important; */
    }

    .navbar .megamenu .dropdown-menu>.container-xxl {
        background-color: var(--c-black) !important;
        position: relative;
        z-index: 1;
    }
    .navbar .megamenu .dropdown-menu>.container-xxl::before{
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../../img/highlight3.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
        position: absolute;
        margin: 0 -12px;
        z-index: -1;
    }

    .navbar .navbar-nav .nav-item .nav-link{
        font-weight: 500;
        /* color: var(--c-white-light); */
        color: var(--c-header-color);
        font-size: 20px;
        transition: 0.3s;
        text-wrap: nowrap;
    }

    .navbar .navbar-nav .nav-item .nav-link:hover {
        color: var(--c-header-color-brand) !important;
    }

    .navbar .dropdown .dropdown-menu .dropdown-item {
        color: var(--c-white-light) !important;
        font-size: 20px !important;
        font-weight: 500;
    }

    .navbar .dropdown:not(.megamenu) .dropdown-menu {
        background-color: var(--c-black);
    }

    .navbar .btn-icon {
        color: var(--c-header-color)!important;
    }
}

.navbar .btn-responsive-icon {
    color: var(--c-white-light) !important;
}

@media (max-width: 576px) {
    .navbar .btn-responsive-icon {
        padding-inline: 6px;
    }
}

/* ----->> Footer <<----  */
footer{
    background-color: var(--c-footer-bg);
    position: relative;
    z-index: 1;
}
footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url(../../img/highlight3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.15;
}
footer .top-footer .content-left  .logo-lg-img,
footer .top-footer-sm .content-top .logo-lg-img{
    width: 75%;
}
footer .top-footer .content-left .app a,
footer .top-footer-sm .content-top .app a{
    color: var(--c-header-color);
    width: 40px;
    height: 40px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: var(--c-header-icon-border);
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 18px;
}
footer .top-footer-sm .content-top .app a{
    border: 0;
    background-color: var(--c-brand);
}
footer .top-footer .content-left .app a::before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: var(--c-brand);
    border-radius:50%;
    z-index: -1;
    transition: 0.5s;
    transform: translateY(100%);
}
footer .top-footer .content-left .app a:hover::before,
footer .top-footer-sm .content-top .app a:hover::before{
    transform: translateY(0);
}
footer .top-footer .content-left .app a:hover{
    border: 0;
}
footer .top-footer .content-center ul li a,
footer .top-footer .content-right ul li a,
footer .top-footer-sm .accordion .accordion-body ul li a{
    text-decoration: none;
    color: var(--c-header-color);
    padding: 10px 0;
    font-size: 18px;
    text-wrap: nowrap;
}
footer .top-footer .content-center ul li a::before,
footer .top-footer-sm .accordion .accordion-body.accordion-body-1 ul li a::before{
    content: "\f005";
    font: var(--fa-font-solid);
    margin: 0 8px;
    color: var(--c-brand);
}
footer .top-footer .content-right ul li i,
footer .top-footer-sm .accordion .accordion-body ul li i{
    color: var(--c-brand);
    font-size: 18px;
    margin: 0 8px;
}
footer .top-footer ul li a:hover,
footer .top-footer-sm ul li a:hover{
    color: var(--c-brand);
}
footer .copyright a{
    text-decoration: none;
    color: var(--c-header-color);
}
footer .copyright p{
    font-size: 18px;
}
footer .top-footer-sm .accordion{
    border: 1px 0 solid #fff!important;
}

footer .top-footer-sm .accordion-button:hover{
    box-shadow: none!important;
    background-color: #f5c61c69!important;
    border-radius: 12px!important;
    border: 0!important;
}
footer .top-footer-sm .accordion-button:focus,
footer .top-footer-sm .accordion-button:not(.collapsed){
    border: 0!important;
    box-shadow: none!important;
}
footer .top-footer-sm .accordion .accordion-item{
    border: 0!important;
}
footer .top-footer-sm .accordion .accordion-button{
    color: var(--c-header-color)!important;
}
footer .top-footer-sm .accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\f068";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    transform: rotate(180deg) !important;
}

footer .top-footer-sm .accordion-button::after {
    content: "\2b";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    background-image: none;
    transition: var(--bs-accordion-btn-icon-transition);
}
footer .top-footer-sm{
    display: none;
}

@media (max-width:768px) {
    footer .top-footer{
        display: none;
    }
    footer .top-footer-sm{
        display: block;
    }
    
}
@media (max-width:1200px) {
    footer .top-footer .content-left  .logo-lg-img,
    footer .top-footer-sm .content-top .logo-lg-img{
        width: 25%;
        margin: auto;
    }
    footer .top-footer .content-left,
    footer .top-footer-sm .content-top{
        text-align: center;
    }
    footer .top-footer .content-left .app,
    footer .top-footer-sm .content-top .app{
        justify-content: center!important;
    }
}

/* menu-page */
[data-theme="light"] {
    --hero-title-color:#e9ecef;
    --hero-highlight: url(../../img/highlight1.png);
}

[data-theme="dark"] {
    --hero-title-color:#e9ecef;
    --hero-highlight: url(../../img/highlight2.png);
    /* --hero-highlight: url(../../img/highlight1.png); */
}
.hero-banner{
    width: 100%;
    height: 70vh;
}
.hero-banner>.banner-bg{
    width: 100%;
    height: 70vh;
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.4);
}
.hero-banner>.banner-bg.europe-banner{
    width: 100%;
    background-image: url(../../img/europe-banner.jpg);
}
.hero-banner>.content{
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: 99;
}
.hero-banner::after{
    content: "";
    width: 100%;
    height: 100px;
    background-size: cover;
    background-image: var(--hero-highlight);

    position: absolute;
    bottom: 0;
    z-index: 100;
}
.hero-banner>.content{
    color: var(--hero-title-color);
}

/* section menu  */
[data-theme="light"] {
    --m-border-card-img:#e9ecef;
    --m-border-card-img-hover:var(--c-brand);
    --m-icon-bg-hover:rgba(19, 11, 11, 0.858);
}

[data-theme="dark"] {
    --m-border-card-img:#e9ecef;
    --m-border-card-img-hover:var(--c-brand);
    --m-icon-bg-hover:#e9ecefb4;
}
.section-menu{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.section-menu::after,
.section-menu::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: -1;
    background-image: url(../../img/stars1.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
    /* bottom: 0;
    right: -20%; */
    /* right: 0; */
    /* transform: rotate(180deg); */
}
.section-menu::before{
    width: 50%;
    height: 50%;
    background-image: url(../../img/eat\ \(1\).png);
    left: -10%;
    top: 0;
}
.section-menu::after{
    bottom: 0;
    right: -20%;
    animation-name: icon-bg ;
    animation-duration: 40s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes icon-bg{
    0%{
        transform: translate(0,-120%);
        /* bottom: 0;
        right: -20%; */
    }
    25%{
        transform: translate(-150%,0) rotate(180deg);
    }
    50%{
        transform: translate(-75%,-50%) rotate(360deg);
    }
    75%{
        transform: translate(0,0) rotate(720deg);
    }
    100%{
        transform: translate(0,-120%);
        /* bottom: 0;
        right: -20%; */
    }
}
.section-menu .content .title img{
    width: 50px;
    height: 50px;
}
.section-menu .content .title h1{
    color: var(--c-black);
}

.section-menu .content .content-menu .mproduct .mproduct-image{
    padding: 20px;
    border-radius: 50%;
    border: 2px solid var(--m-border-card-img);
    position: relative;
    transition: 0.5s;
}
.section-menu .content .content-menu .mproduct .mproduct-image img{
    transition: 0.5s;
}

.section-menu .content .content-menu .mproduct{
    background-color: transparent;
    color: var(--c-black);
}
.mproduct .mproduct-image .mproduct-hover{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10%;
    top: auto;
    transition: 0.5s;
    opacity: 0;  
}
.section-menu .content .content-menu .mproduct .mproduct-image:hover .mproduct-hover{
    opacity: 1;
    bottom: 0;
} 
.mproduct .mproduct-image .mproduct-hover ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.mproduct .mproduct-image .mproduct-hover ul li{
    padding: 6px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--m-icon-bg-hover);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.mproduct .mproduct-image .mproduct-hover ul li.i-cart{
    transform: translateY(43%);
}
.mproduct .mproduct-image .mproduct-hover ul li.i-wishlist{
    transform: translateY(85%);
}
.mproduct .mproduct-image .mproduct-hover ul li.i-compare{
    transform: translateY(85%);
}
.mproduct .mproduct-image .mproduct-hover ul li.i-check{
    transform: translateY(43%);
}
.section-menu .content .content-menu .mproduct-image:hover~ .mproduct-des .product-review{
    opacity: 0;
}
@media (max-width:767px) {
    .mproduct .mproduct-image .mproduct-hover ul li.i-cart{
        transform: translateY(20%);
    }
    .mproduct .mproduct-image .mproduct-hover ul li.i-check{
        transform: translateY(20%);
    }
    .mproduct .mproduct-image .mproduct-hover ul li.i-wishlist{
        transform: translateY(80%);
    }
    .mproduct .mproduct-image .mproduct-hover ul li.i-compare{
        transform: translateY(80%);
    }
    .section-menu .content .content-menu .mproduct .mproduct-image{
        padding: 18px;
    }
    .mproduct .mproduct-image .mproduct-hover{
        opacity: 1;
        bottom: 0;
    }
    .section-menu .content .content-menu .mproduct .mproduct-des .product-review{
        padding-top: 10px;
    }
    .section-menu .content .content-menu .mproduct-image:hover~.mproduct-des .product-review{
        opacity: 1;
    }
}

.mproduct .mproduct-image .mproduct-hover ul li i{
    border-radius: 50%;
}
.mproduct .mproduct-image .mproduct-hover ul li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c-brand-dark);
    border-radius: 50%;
    left: 0;
    bottom: -120%;
    transition: 0.5s;
    z-index: -1;
    /* opacity: 0; */
}
.mproduct .mproduct-image .mproduct-hover ul li:hover::after{
    transform: translateY(-120%);
    display: block;
}
.mproduct .mproduct-image .mproduct-hover ul li a{
    font-size: 20px;
    color: var(--c-white-light);
}
.section-menu .content .content-menu .mproduct-image:hover{
    border: 2px solid var(--m-border-card-img-hover);
}
.section-menu .content .content-menu .mproduct-image:hover img{
    transform: scaleX(-1);
}

.section-menu .content .content-menu .mproduct .mproduct-des .product-review{
    margin-top: -8px;
    font-size: 16px;
}
.section-menu .content .content-menu .mproduct .mproduct-des .product-review i{
    color: var(--c-brand-dark);
}

/* --------->> Menu detail page <<----------  */
.section-menudetail>img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
    opacity: 0.2;
    object-fit: cover;   
}
.section-menudetail .d-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.section-menudetail .dproduct-detail{
    color: var(--c-black);
}
.cart-wrap{
    cursor: pointer;
}
.btn-cart{
    /* background-color: var(--c-brand); */
    border: 1px solid var(--c-brand);
    color: var(--c-black);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn-cart::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: var(--bs-border-radius);
    background-color: #f5c61c;
    transition: 0.3s;
    transform: translate(-100%,-100%);
    z-index: -1;
}
.btn-cart:hover{
    color: #fff;
    border: 1px solid var(--c-brand);
}
.btn-cart:hover::before{
    transform: translateX(0);
}
.section-menudetail .dproduct-des .nav-link.active{
    background-color: transparent;

}

/* hover border top  */
.hvr-overline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-overline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 0;
    background: var(--c-brand);
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
    left: 0;
    right: 0;
  }


/* customer-review-page */
.customer-review-page i.bi-quote-rotate::before {
    transform: rotate(180deg) !important;
}

.customer-review-page .bi-quote {
    color: var(--c-brand);
}

.customer-review-page .profile img {
    width: 45px !important;
}

.customer-review-page .icons-stars {
    color: var(--c-brand);
}

/* faq page  */

.faq-page .accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.faq-page .accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\f068";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    transform: rotate(0deg) !important;
}

.faq-page .accordion-button::after {
    content: "\2b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    background-image: none;
    transition: var(--bs-accordion-btn-icon-transition);
}

.faq-page .accordion-item:last-child{
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
}

/* gallery page  */

.gallery-page .box{
    background-color: antiquewhite;
    height: 400px;
}

/* cart page  */

.cart-page .card{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}

.cart-page table {
    text-align: left;
    vertical-align: middle;
}

.cart-page table thead th {
    font-weight: 500;
    font-size: 18px;
    color: var(--c-black);
}

.cart-page table th,
.cart-page table td {
    height: 100px;
    padding-block: 12px;
}

.cart-page table tbody td {
    font-weight: 500;
    color: var(--c-black);
    font-size: 18px;
}

.cart-page table td img {
    height: 100px;
}

.text-right {
    text-align: right;
}

.card{
    background-color: transparent;
}
/* Hero  */
.hero {
    height: 100vh;
    background-image: url(https://s3-alpha-sig.figma.com/img/1dbe/5352/29d789a498b3f7586f58d615a1b58022?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=iukgiYld-X2VSOVmPJWuzzVVCnFtHthB5N1rEueURMvTEdFUqN0xxhYOygXzEjKQMiDFq6AZUuMdWhBsRjUgrx46UnYV68TjeoR54gM-ssDrmuW0je6z3tTAGQg6X9CEjqgo6kpIz8CRgzjUkOVvj5PPZqsbRdjd6ILqwBow9tQQ0RqBIM1dx32ZQDs9MRS58i0g~dpTd~4shrjZ7J9nNCTVAWPY78SwgS~y~Tn0KL1cFByFeVvkq0bLtsGGkNhf~VOA2BLMs~u4LWsxpt1LB4Ehs5ot1Dg9rWxBKMcJ82p9Z-K4lr~iJKBouJ9U4SzH5kxRnQjXAu6eC3N4Xkv9QQ__);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

/* Landing page  */

.margin-bottom{
    margin-bottom: 120px;
}
.section-landing .carousel .carousel-inner{
    width: 100%;
    height: 90vh;
}
.section-landing .carousel .carousel-inner .carousel-item img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-left: 55%;
    margin-top: 8%;
    border: 6px solid var(--c-brand);
}
.section-landing .carousel-inner .imge-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-landing .carousel-inner .carousel-caption{
    top: 30%;
    width: 560px;

}
.section-landing .carousel-inner .carousel-caption h1{
    font-size: 55px;
    color: var(--c-brand);
    padding: 8px 0px;
}
.section-landing .carousel-inner .carousel-caption p{
    font-size: 20px;
}
.btn-booking{
    margin-top: 10px;
    width: 150px;
    padding: 10px 0;
    border-radius: 25px;
    color: var(--c-brand);
    background-color: transparent;
    font-size: 18px;
    border:solid 2px var(--c-brand) !important;
}
.btn-booking:hover{
    color: var(--c-white);
    background-color: var(--c-brand-dark) ;
}


.landing-page .section-menu .nav-tabs .nav-item {
   margin-left: 10px ;
}
.landing-page .section-menu .nav-tabs .nav-item .nav-link{
   padding: 5px 18px;
   font-size: 16px;
   font-weight: 500;
   border: 0;
   border:solid 2px var(--c-brand) !important;
   color: var(--c-black);
   
}
.landing-page .section-menu .nav-tabs .nav-item .active{
    color: var(--c-brand);
}
.landing-page .section-menu .bg-top{
    width: 860px;
    margin: auto;
    /* background-color: rgb(255, 179, 0); */
}
.landing-page .section-menu .card{
    border:solid 2px var(--c-brand);
    /* position: relative; */
}
.landing-page .section-menu .card img{
    width: 200px;
    margin: auto;
    padding-top: 20px;
}
.landing-page .section-menu .style-card{
    border-radius: 100px;
}
.landing-page .section-menu .style-card img{
    padding-top: 0;
    width: 130px;
    align-items: center;
    padding: 18px;
    
}
.landing-page .section-menu .style-card .card-body{
    align-items: center;
    padding-top: 6%;
    
}
.landing-page .section-menu .style-card .price{
    margin-top: 33%;
    margin-right: 20px;
    text-align: center;
    padding: 0;
}
.landing-page .section-menu .content{
    width: 100%;
    height: 100%;
    margin-left: 20%;
    display: flex;
    opacity: 0;
    padding-top: 12%;
    transition: 0.7s;    
}
.landing-page .section-menu .content .bi-star-fill{
    width: 40px;
    height: 40px;
    background-color: #fdcf28;
    border-radius: 50%;
    margin-left: 10px;
    line-height: 40px;
    text-align: center;   
}
.landing-page .section-menu .content:hover{
    opacity: 1;
}
.landing-page .section-menu .card:hover .rating {
	opacity: 0;
}
.landing-page .section-menu .content > *{
    transform: translateY(15px);
    transition: transform 0.6s;
}
.landing-page .section-menu .content:hover > *{
    transform: translateY(0);
}
.landing-page .section-service {
    width: 100%;
    height: 60vh;
}
.landing-page .section-galery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

