@font-face{
    font-family: kantumruy pro;
    src: url(../font/KantumruyPro-VariableFont_wght.ttf);
}

:root {
    --c-brand: #fdcf28;
    --c-brand-dark: #f5c61c;
    --c-black: #1a1a1a;
    --c-gray: #aaaaaa;
    --c-gray-dark: #7a7a7a;
    --c-white-light: #e9ecef;
    --c-white: #ffffff;
}

body {
    font-family: kantumruy pro , sans-serif;
}
.margin-bottom{
    margin-bottom: 120px;
}
.section-landing .carousel .carousel-inner{
    width: 100%;
    height: 90vh;
}
.section-landing .carousel .carousel-inner .carousel-item img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-left: 55%;
    margin-top: 8%;
    border: 6px solid var(--c-brand);
}
.section-landing .carousel-inner .imge-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-landing .carousel-inner .carousel-caption{
    top: 30%;
    width: 560px;

}
.section-landing .carousel-inner .carousel-caption h1{
    font-size: 55px;
    color: var(--c-brand);
    padding: 8px 0px;
}
.section-landing .carousel-inner .carousel-caption p{
    font-size: 20px;
}
.btn-booking{
    margin-top: 10px;
    width: 150px;
    padding: 10px 0;
    border-radius: 25px;
    color: var(--c-brand);
    background-color: transparent;
    font-size: 18px;
    border:solid 2px var(--c-brand) !important;
}
.btn-booking:hover{
    color: var(--c-white);
    background-color: var(--c-brand-dark) ;
}


.section-menu .nav-tabs .nav-item {
   margin-left: 10px ;
}
.section-menu .nav-tabs .nav-item .nav-link{
   padding: 5px 18px;
   font-size: 16px;
   font-weight: 500;
   border: 0;
   border:solid 2px var(--c-brand) !important;
   color: var(--c-black);
   
}
.section-menu .nav-tabs .nav-item .active{
    color: var(--c-brand);
}
.section-menu .bg-top{
    width: 860px;
    margin: auto;
    /* background-color: rgb(255, 179, 0); */
}
.section-menu .card{
    border:solid 2px var(--c-brand);
    /* position: relative; */
}
.section-menu .card img{
    width: 200px;
    margin: auto;
    padding-top: 20px;
}
.section-menu .style-card{
    border-radius: 100px;
}
.section-menu .style-card img{
    padding-top: 0;
    width: 130px;
    align-items: center;
    padding: 18px;
    
}
.section-menu .style-card .card-body{
    align-items: center;
    padding-top: 6%;
    
}
.section-menu .style-card .price{
    margin-top: 33%;
    margin-right: 20px;
    text-align: center;
    padding: 0;
}
.section-menu .content{
    width: 100%;
    height: 100%;
    margin-left: 20%;
    display: flex;
    opacity: 0;
    padding-top: 12%;
    transition: 0.7s;    
}
.section-menu .content .bi-star-fill{
    width: 40px;
    height: 40px;
    background-color: #fdcf28;
    border-radius: 50%;
    margin-left: 10px;
    line-height: 40px;
    text-align: center;   
}
.section-menu .content:hover{
    opacity: 1;
}
.section-menu .card:hover .rating {
	opacity: 0;
}
.section-menu .content > *{
    transform: translateY(15px);
    transition: transform 0.6s;
}
.section-menu .content:hover > *{
    transform: translateY(0);
}
.section-service {
    width: 100%;
    height: 60vh;
}
.section-galery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

